* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: black;
}

.bucket-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  min-height: 600px;
  background: black;
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 30px;
}

h3 {
  color: rgb(66, 171, 231);
  font-size: 25px;
  width: 50%;
}


.topicStyles {
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  max-width: 250px;
  position: relative;
}

.topicStyles:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #2f88a3;
  top: 50%;
  position: absolute;
}

#projectDescription {
  width:80%;
  font-size: 1rem;
}

.bg-one {
  background-color:#323031;
}

.bg-two {
  background-color: #3D3B3C
}

.form {
  padding: 20px;
}

.form input, .form textarea {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 25%;
}


